<h1><%= @user.name %></h1>

<h1>Appointments:</h1>
<ul>
    <% @user.appointments.each do |appointment| %>
        <li>With <%= appointment.stylist.name %> at <%= appointment.date.strftime("%D - %r") %> </li>
    <% end %>
</ul>