<h1><%= @user.name %></h1>

<h1>Appointments:</h1>
<ul>
    <% @user.appointments.each do |appointment| %>
        <li>With <%= link_to appointment.stylist.name, stylist_path(appointment.stylist) %> at <%= link_to appointment.date.strftime("%D - %r"), appointment_path(appointment) %> </li>
    <% end %>
</ul>