// Place all the styles related to the Stylists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




#content {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0px auto;
    padding: 20px;
    background-color: lightcyan;
    justify-content: space-around;
  }