// Place all the styles related to the Stylists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.stylist-signup-div {
    background-color: rgba($color: #5e448d2a, $alpha: .5);
    width: 84%;
    margin: 0px auto;
    text-align: center;
    
}

// .stylist-signup-div a {
//     text-decoration: none;
//     color: darkgoldenrod;
// }

.stylist-signup-div h1 {
    margin: 10px 0px 0px 0px;
}

// SYLIST SHOW PAGE

.stylist-show-div {
    // background-color: rgb(236, 163, 154);
    border: 20px dotted rgba(70, 184, 137, 0.582);
    // border-style: ;
    padding: 10px; //, 10px, 10px, 10px;
    
    width: 79%;
    margin: 5px auto;
    text-align: center;

    // list-style-type: none;
    // text-decoration: none;
    
}

.stylist-show-div ul{

    list-style-type: none;

}

.stylist-name {
    font-size: 50px;
    margin: 0px;
    font-family: fantasy;
}

// a .add-style {
// }

.add-style {
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
    background-color: slategrey;
}

.link-color-match-dots a {
    color: rgba(70, 184, 137, 0.801);
    text-decoration: none;
}