// Place all the styles related to the Styles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// * {
//     border: 1px solid black;
// }

.style-name h1 {
    text-align: center;

}

#content {
    display: flex;
    flex-flow: row wrap;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    column-gap: 5px;
    row-gap: 5px;

    width: 80%;
    margin: 0px auto;
    padding: 20px;
    background-color: lightcyan;
    justify-content: space-around;
}

    .item {

    }


#styleshow {
    // width: 80%;
    // margin: 0px auto;
}