// Place all the styles related to the Styles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// * {
//     border: 1px solid black;
// }

.style-name h1 {
    text-align: center;

}

#content {
    display: flex;
    flex-flow: row wrap;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    column-gap: 5px;
    row-gap: 5px;

    width: 80%;
    margin: 0px auto 50px;
    padding: 20px;
    background-color: lightcyan;
    justify-content: space-around;
}

    .item a, .item ul a {
        text-decoration: none;
        color: black;
    }

    .item ul {
        list-style-type: none;
    }


// #styleshow {
//     // width: 80%;
//     // margin: 0px auto;
// }



.appointment{
    background-color :skyblue;
    //  lightcyan;
    width: 82%;
    margin: auto;

    text-align: center;
    align-content: center;

    margin-bottom: 25px;
}
    .appointment-form-div select{
        background-color :rgba(255, 236, 234, 0.945);
    }
    .appointment-form-div input{
        background-color :rgba(255, 206, 200, 0.945);
    }
    .appointment-last-line-div input{
        // background-color :skyblue;
        margin-bottom: 32px;
    }
    .appointment-submit-div input{
        color: lightcyan;
        background-color: salmon;
        // margin-bottom: 32px;
    }