// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.signup-div {
    background-color: coral;
    width: 84%;
    margin: 0px auto;
    text-align: center;
    
}

.signup-div a {
    text-decoration: none;
    color: darkgoldenrod;
}

.signup-div h1 {
    margin: 10px 0px 0px 0px;
}